.App {
  text-align: center;
  background-color: white;
  padding: 20px;
  margin: 20px;
  width: 370px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid rgba(180, 180, 180, 0.5);
  min-height: 80vh;
  position: relative;
}

.logo {
  height: 15vmin;
  pointer-events: none;
  margin-top: 50px;
}

span {
  display: block;
  margin-top: 20px;
}

.Opiskelijanimi {
  font-size: 2em;
  font-weight: bold;
  color: #A40084;
  margin-top: 40px;
}

.Opiskelijanumero {
  font-size: 1em;
  font-weight: bold;
  color: #000000;
  margin-top: 7px;
}

.Sahkoposti {
  font-weight: bold;
  margin-top: 10px;
}

.Ala {
  margin-top: 50px;
  color: #A40084;
}

.Osoite {
  bottom: 0;
  color: #000000;
  position: absolute;
  text-align: center;
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}